/build
/flickr_api.egg-info
*.pyc
*.egg
/flickr_api/flickr_keys.py
.idea
/dist
.pytest_cache
# Ignore api-docs except specific files needed for tests
api-docs/*
!api-docs/flickr.activity.userComments.json
!api-docs/flickr.activity.userPhotos.json
!api-docs/flickr.blogs.getList.json
!api-docs/flickr.blogs.getServices.json
!api-docs/flickr.blogs.postPhoto.json
!api-docs/flickr.tags.getHotList.json
!api-docs/flickr.tags.getListUser.json
!api-docs/flickr.tags.getListUserPopular.json
!api-docs/flickr.cameras.getBrands.json
!api-docs/flickr.cameras.getBrandModels.json
!api-docs/flickr.collections.getInfo.json
!api-docs/flickr.collections.getTree.json
!api-docs/flickr.commons.getInstitutions.json
!api-docs/flickr.contacts.getList.json
!api-docs/flickr.contacts.getTaggingSuggestions.json
!api-docs/flickr.favorites.getContext.json
!api-docs/flickr.favorites.getList.json
!api-docs/flickr.favorites.getPublicList.json
!api-docs/flickr.galleries.create.json
!api-docs/flickr.galleries.getInfo.json
!api-docs/flickr.galleries.getList.json
!api-docs/flickr.galleries.getListForPhoto.json
!api-docs/flickr.galleries.getPhotos.json
!api-docs/flickr.groups.getInfo.json
!api-docs/flickr.groups.search.json
!api-docs/flickr.groups.discuss.topics.getInfo.json
!api-docs/flickr.groups.discuss.topics.getList.json
!api-docs/flickr.groups.discuss.replies.getInfo.json
!api-docs/flickr.groups.discuss.replies.getList.json
