/build
/flickr_api.egg-info
*.pyc
*.egg
/flickr_api/flickr_keys.py
.idea
/dist
.pytest_cache
# Ignore api-docs except specific files needed for tests
api-docs/*
!api-docs/flickr.tags.getHotList.json
!api-docs/flickr.tags.getListUser.json
!api-docs/flickr.tags.getListUserPopular.json
