/build
/flickr_api.egg-info
*.pyc
*.egg
/flickr_api/flickr_keys.py
.idea
/dist
.pytest_cache
# Ignore api-docs except specific files needed for tests
api-docs/*
!api-docs/flickr.activity.userComments.json
!api-docs/flickr.activity.userPhotos.json
!api-docs/flickr.blogs.getList.json
!api-docs/flickr.blogs.getServices.json
!api-docs/flickr.blogs.postPhoto.json
!api-docs/flickr.tags.getHotList.json
!api-docs/flickr.tags.getListUser.json
!api-docs/flickr.tags.getListUserPopular.json
!api-docs/flickr.cameras.getBrands.json
!api-docs/flickr.cameras.getBrandModels.json
!api-docs/flickr.collections.getInfo.json
!api-docs/flickr.collections.getTree.json
!api-docs/flickr.commons.getInstitutions.json
!api-docs/flickr.contacts.getList.json
!api-docs/flickr.contacts.getTaggingSuggestions.json
